/**
 * CSS for a single fish.
 */

.ff-fish-row {
  font-size: 14px;
  opacity: 0.4;
  width: 100%;
}

.ff-fish-row.ff-fish-catchable {
  opacity: 1;
}

.ff-fish-row > .ff-cell {
  margin-bottom: 5px;
  vertical-align: middle;
}

.ff-fish-row-icon {
  height: 30px;
  margin-left: 10px;
  min-width: 30px;
  max-width: 30px;
}

.ff-fish-row-name {
  max-width: 150px;
  min-width: 150px;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ff-fish-row-time {
  max-width: 300px;
  min-width: 300px;
}

.ff-fish-time {
  border: 1px solid #fff;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.ff-fish-time-range {
  background: #2B73C5;
  /*background: #133D6E;*/
  bottom: 0;
  opacity: 0.35;
  position: absolute;
  top: 0;
  z-index: 1;
}

.ff-fish-catchable-range {
  background: #2B73C5;
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.ff-fish-time-change {
  background: #fff;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 3;
}

.ff-fish-time-cursor {
  background: TIME_COLOR;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 4;
}

/* For the FishTimeToolip */
.goog-tooltip {
  background-color: #333;
  border: 1px solid #555;
  color: TIME_COLOR;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  z-index: 5;
  @mixin border_radius(5px);
}

.ff-fish-row-location {
  max-width: 150px;
  min-width: 150px;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ff-fish-row-best-catch-path {
  max-width: 160px;
  min-width: 160px;
}

.ff-fish-catch-path {
}

.ff-fish-catch-path-part {
  display: inline-block;
}

.ff-fish-catch-path-part-image {
  height: 25px;
  width: 25px;
}

.ff-fish-catch-path-part-divider {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  margin: 0 2px;
  vertical-align: top;
}
