/**
 * CSS for a single fish.
 */

.ff-fish-row {
  font-size: 14px;
  opacity: 0.4;
  width: 100%;
}

.ff-fish-row.ff-fish-catchable {
  opacity: 1;
}

.ff-fish-row {
}

.ff-fish-row-cells {
  padding: 3px 0;
}

.ff-fish-cell {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.ff-fish-row-color-chooser-container {
  height: 30px;
  width: 30px;
}

.ff-fish-color-chooser-color-container {
  background-color: #fff;
  display: inline-block;
  height: 24px;
}

.ff-fish-color-chooser {
  height: 26px;
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
  width: 26px;
}

.ff-fish-color-chooser-color {
  border: 1px solid transparent;
  cursor: pointer;
  height: 10px;
  position: absolute;
  width: 10px;
  @mixin border_radius(6px);
}

.ff-fish-color-chooser-color:hover {
  border: 1px solid #fff;
}

.ff-fish-color-clear {
  background-color: #333;
  left: 0;
  top: 0;
}

.ff-fish-color-one {
  background-color: FISH_COLOR_ONE;
  right: 0;
  top: 0;
}

.ff-fish-color-two {
  background-color: FISH_COLOR_TWO;
  bottom: 0;
  left: 0;
}

.ff-fish-color-three {
  background-color: FISH_COLOR_THREE;
  bottom: 0;
  right: 0;
}

.ff-fish-row-color-one > .ff-fish-row-cells {
  background-color: FISH_COLOR_ONE;
}

.ff-fish-row-color-two > .ff-fish-row-cells {
  background-color: FISH_COLOR_TWO;
}

.ff-fish-row-color-three > .ff-fish-row-cells {
  background-color: FISH_COLOR_THREE;
}

.ff-fish-row-icon {
  height: 30px;
  width: 30px;
}

.ff-fish-row-name {
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
}

.ff-fish-row-time {
  width: 300px;
}

.ff-fish-time {
  background: #333;
  border: 1px solid #fff;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.ff-fish-time-range {
  background: #2B73C5;
  bottom: 0;
  opacity: 0.35;
  position: absolute;
  top: 0;
  z-index: 1;
}

.ff-fish-catchable-range {
  background: #2B73C5;
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.ff-fish-time-change {
  background: #fff;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 3;
}

.ff-fish-time-cursor {
  background: TIME_COLOR;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 4;
}

.ff-fish-time-tooltip {
  background-color: #333;
  border: 1px solid #555;
  color: TIME_COLOR;
  font-size: 12px;
  margin-top: 32px;
  padding: 10px;
  position: absolute;
  text-align: center;
  vertical-align: top;
  width: 120px;
  z-index: 5;
  @mixin border_radius(5px);
}

.ff-fish-time-tooltip-weather img {
  height: 20px;
  margin-top: -2px;
  vertical-align: middle;
  width: 20px;
}

.ff-fish-row-location {
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 145px;
}

.ff-fish-row-predator-info {
	cursor: pointer;
  margin-right: 18px;
  margin-top: 3px;
  position: relative;
}

.ff-fish-row-predator-image {
  height: 25px;
  width: 25px;
}

.ff-fish-row-predator-count {
  font-size: 20px;
  font-weight: bold;
  height: 25px;
  left: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  top: 0;
  width: 25px;
}

a > .ff-fish-row-predator-count:hover {
	color: #fff;
}

.ff-fish-row-best-catch-path {
  width: 160px;
}
.ff-fish-cell.ff-fish-row-best-catch-path {
  margin-right: 0;
}
.ff-fish-row-best-catch-path.ff-fish-row-predator-present {
  width: 115px;
}

.ff-fish-catch-path {
  margin-top: 4px;
}

.ff-fish-catch-path-part {
  display: inline-block;
}

.ff-fish-catch-path-part-image {
  height: 25px;
  width: 25px;
}

.ff-fish-catch-path-part-divider {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  margin: 0 2px;
  margin-top: -3px;
  vertical-align: top;
}
