{namespace ff.fisher.ui.all.soy}


/**
 * HTML for the component that renders all of the fish.
 */
{template .ALL_FISH}
  <div class="{css ff-card}{sp}{css ff-fisher-all-fish}">
  </div>
{/template}
