# General
*.class

# AppEngine
/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/war/WEB-INF/lib/appengine*
/war/WEB-INF/lib/datanucleus*
/war/WEB-INF/lib/geronimo*
/war/WEB-INF/lib/jdo2*
/war/WEB-INF/lib/jsr107cache*

# Eclipse workspace configuration
.project
.settings

# Project generated
/js_generated
/war/generated

# Symlinks
/war/closure
/war/js_generated
/war/js_src