/*
 * Base css for the application.
 */

@def FONT_FAMILY                   Open Sans;
@def FONT_SIZE_NORMAL              16px;

@def ACTIVE_BORDER_COLOR           #00ADFF;

body {
  background-color: #111;
  color: #ddd;
  font-family: FONT_FAMILY;
  font-size: FONT_SIZE_NORMAL;
  margin: 0;
  padding: 0;
}

.ff-table {
	display: table;
}

.ff-row {
	display: table-row;
}

.ff-cell {
	display: table-cell;
}

.ff-card {
  background-color: #333;
  border: 1px solid #555;
  padding: 10px;
  @mixin border_radius(5px);
}
