/*
 * Base css for the application.
 */

@def FONT_FAMILY                   Open Sans;
@def FONT_SIZE_NORMAL              16px;

@def ACTIVE_BORDER_COLOR           #00ADFF;

@def CARD_BACKGROUND_COLOR         #333;
@def CARD_BORDER_COLOR             #555;

body {
  background-color: #111;
  color: #ddd;
  font-family: FONT_FAMILY;
  font-size: FONT_SIZE_NORMAL;
  margin: 0;
  padding: 0;
}

.ff-table {
	display: table;
}

.ff-row {
	display: table-row;
}

.ff-cell {
	display: table-cell;
}

.ff-card {
  background-color: CARD_BACKGROUND_COLOR;
  border: 1px solid CARD_BORDER_COLOR;
  padding: 15px;
  @mixin border_radius(5px);
}

a {
  color: #00BFFF;
}