/**
 * CSS for the view control component.
 */

.ff-fish-view-control {
  margin-bottom: 15px;
}

.ff-fish-view-title {
  display: inline-block;
  margin-right: 10px;
}

.ff-fish-view-radio-button {
  cursor: pointer;
}

.ff-fish-view-radio-button-label {
  cursor: pointer;
  margin-right: 5px;
}

.ff-fish-view-filter {
  float: right;
  margin-top: -3px;
  vertical-align: top;
}

.ff-fish-view-title-hide {
  line-height: 30px;
  vertical-align: middle;
}

.ff-fish-view-color {
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 26px;
  margin-right: 6px;
  opacity: 0.8;
  vertical-align: middle;
  width: 26px;
  @mixin border_radius(15px);
}

.ff-fish-view-color:hover {
  opacity: 1;
}

.ff-fish-view-color.ff-fish-view-filter-enabled {
  border: 2px solid #fff;
  opacity: 1;
}

.ff-fish-view-color-one {
  background-color: FISH_COLOR_ONE;
}

.ff-fish-view-color-two {
  background-color: FISH_COLOR_TWO;
}

.ff-fish-view-color-three {
  background-color: FISH_COLOR_THREE;
}
