{namespace ff.fisher.ui.weather.soy}

/**
 * HTML for a weather icon.
 * @param imageSrc The source for the image.
 * @param tooltip The tooltip for the icon.
 */
{template .WEATHER_ICON}
  <img src="{$imageSrc}" title="{$tooltip}" />
{/template}
