/**
 * CSS for an area on the fisher page.
 */

.ff-fisher-area {
  margin-top: 16px;
}
.ff-fisher-area:first-child {
  margin-top: 0;
}

.ff-fisher-area-name {
  color: #DEB887;
  font-size: 20px;
  margin-bottom: 10px;
}

.ff-fisher-area-weather-source > a {
  float: left;
  font-size: 11px;
  margin-top: -13px;
}

.ff-area-weather-container {
  height: 37px;
  margin-left: 231px;
  position: relative;
  width: 302px;
}

.ff-area-weather {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 100px;
}

.ff-fish-table {
  width: 100%;
}
