/**
 * CSS for an area on the fisher page.
 */

@def AREA_COLOR               #DEB887;

.ff-fisher-area {
  margin-top: 16px;
}
.ff-fisher-area:first-child {
  margin-top: 0;
}

.ff-fisher-area-name {
  color: AREA_COLOR;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
  opacity: .9;
}

.ff-fisher-area-name:hover {
  opacity: 1;
}

.ff-fisher-area-chevron {
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
  vertical-align: top;
}

.ff-area-weather-container {
  height: 37px;
  margin-left: 200px;
  position: relative;
  width: 302px;
}

.ff-area-weather {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 100px;
}

.ff-fish-table {
  width: 100%;
}

.ff-fisher-area-collapsed {
  margin-bottom: -20px;
}

/* Hide all children of the area... */
.ff-fisher-area-collapsed > div {
  display: none;
}
/* ...but still show the name. */
.ff-fisher-area-collapsed > div.ff-fisher-area-name {
  display: inline-block;
}
.ff-fisher-area-collapsed .ff-fisher-area-chevron {
  margin-top: 5px;
  @mixin transform(rotate(180deg));
}
