/**
 * CSS for the root of the fisher page.
 */

@def HEADER_HEIGHT             50px;

.ff-fisher-root {
  margin: 20px;
  margin-top: 70px;
}

.ff-fisher-header{
  background-color: CARD_BACKGROUND_COLOR;
  border-bottom: 1px solid CARD_BORDER_COLOR;
  height: HEADER_HEIGHT;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ff-fisher-header-clock-label,
.ff-fisher-header-clock {
  display: inline-block;
  line-height: HEADER_HEIGHT;
  vertical-align: middle;
}

.ff-eorzea-clock {
  color: #FFF0A0;
  font-weight: bold;
}

.ff-fisher-header-clock-label {
  margin-left: 30px;
}

.ff-fisher-header-new-fish {
  display: inline-block;
  float: right;
  line-height: HEADER_HEIGHT;
  margin-right: 30px;
  vertical-align: middle;
}

.ff-fisher-new-fish-button {
}

.ff-fish-table {
  width: 100%;
}

.ff-fish-row {
  opacity: 0.4;
  width: 100%;
}

.ff-fish-row.ff-fish-catchable {
  opacity: 1;
}

.ff-fish-row > .ff-cell {
  margin-bottom: 5px;
  vertical-align: middle;
}

.ff-fish-row-icon {
  height: 30px;
  width: 30px;
}

.ff-fish-time {
  border: 1px solid #fff;
  height: 30px;
  position: relative;
  width: 300px;
}

.ff-fish-time-range {
  background: #2B73C5;
  /*background: #133D6E;*/
  bottom: 0;
  position: absolute;
  top: 0;
}

.ff-fish-time-change {
  background: #fff;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.ff-8am {
  left: 33.333%;
}

.ff-4pm {
  left: 66.666%;
}

.ff-fish-time-current {
  background: #FFF0A0;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 3px;
}
