/**
 * CSS for the root of the fisher page.
 */

@def HEADER_HEIGHT             30px;
@def TIME_COLOR                #FFF0A0;

.ff-fisher-root {
  margin: auto;
  width: 900px;
}

.ff-fisher-header {
  margin-bottom: 15px;
  position: relative;
}

.ff-fisher-header.ff-card {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ff-fisher-header-clock-label,
.ff-fisher-header-clock {
  display: inline-block;
  line-height: HEADER_HEIGHT;
  margin-top: -10px;
  vertical-align: middle;
}

.ff-eorzea-clock {
  color: TIME_COLOR;
  font-weight: bold;
}

.ff-fisher-header-weather-source {
  font-size: 11px;
  line-height: 11px;
}

.ff-fisher-header-new-fish {
  line-height: HEADER_HEIGHT;
  position: absolute;
  right: 15px;
  top: 16px;
}
