/**
 * CSS for the root of the fisher page.
 */

.ff-fisher-root {
  margin: 20px;
}

.ff-fisher-new-fish-button {
  float: right;
  margin-right: -10px;
  margin-top: 25px;
}

.ff-fish-table {
  width: 100%;
}

.ff-fish-row {
  width: 100%;
}

.ff-fish-row > .ff-cell {
  margin-bottom: 5px;
  vertical-align: middle;
}

.ff-fish-row-icon {
  height: 30px;
  width: 30px;
}
