/**
 * CSS for the root of the fisher page.
 */

@def HEADER_HEIGHT             30px;

.ff-fisher-root {
  margin: auto;
  width: 900px;
}

.ff-fisher-header {
  margin-bottom: 15px;
}
.ff-fisher-header.ff-card {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ff-fisher-header-clock-label,
.ff-fisher-header-clock {
  display: inline-block;
  line-height: HEADER_HEIGHT;
  vertical-align: middle;
}

.ff-eorzea-clock {
  color: #FFF0A0;
  font-weight: bold;
}

.ff-fisher-header-new-fish {
  display: inline-block;
  float: right;
  line-height: HEADER_HEIGHT;
  vertical-align: middle;
}

.ff-fisher-new-fish-button {
}

.ff-fisher-area {
  margin-top: 16px;
}
.ff-fisher-area:first-child {
  margin-top: 0;
}

.ff-fisher-area-name {
  color: #DEB887;
  font-size: 20px;
  margin-bottom: 10px;
}

.ff-area-weather-table {
  margin-top: -39px;
}

.ff-area-weather-row {
  height: 37px;
  width: 100%;
}

.ff-area-weather-row-spacer {
  width: 227px;
}

.ff-fish-row-time.ff-area-weather-list {
  position: relative;
}

.ff-area-weather {
  display: inline-block;
  position: absolute;
}

.ff-area-weather.ff-1 {
  left: 38px;
}

.ff-area-weather.ff-2 {
  left: 140px;
}

.ff-area-weather.ff-3 {
  left: 235px;
}

.ff-fish-table {
  width: 100%;
}

.ff-fish-row {
  opacity: 0.4;
  width: 100%;
}

.ff-fish-row.ff-fish-catchable {
  opacity: 1;
}

.ff-fish-row > .ff-cell {
  margin-bottom: 5px;
  vertical-align: middle;
}

.ff-fish-row-icon {
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

.ff-fish-row-name {
  width: 170px;
}

.ff-fish-row-time {
  min-width: 350px;
}

.ff-fish-time {
  border: 1px solid #fff;
  height: 30px;
  position: relative;
  width: 300px;
}

.ff-fish-time-range {
  background: #2B73C5;
  /*background: #133D6E;*/
  bottom: 0;
  position: absolute;
  top: 0;
}

.ff-fish-time-change {
  background: #fff;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.ff-8am {
  left: 33.333%;
}

.ff-4pm {
  left: 66.666%;
}

.ff-fish-time-current {
  background: #FFF0A0;
  bottom: 0;
  margin-left: -1px; /* centers since width is 3px */
  position: absolute;
  top: 0;
  width: 3px;
}

.ff-fish-time-cursor {
  background: red;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

/* For the FishTimeToolip */
.goog-tooltip {
  color: #FFF0A0;
  font-size: 12px;
  margin-left: 5px;
  margin-top: -1px;
}
